@import "colors.scss";

header {
  font-family: "Playfair Display", serif;

  background-color: $primary;
  background-image: url("../assets/da-lettering.svg");
  background-position: center center;
  background-repeat: no-repeat;
  .nav {
    line-height: 150px;
    width: 100%;
    ul {
      font-family: Roboto Slab;
      font-size: 12px;
      font-weight: 700;

      margin: 0;
      padding: 0;
      width: 40%;

      &.left {
        float: left;
        li {
          float: right;
        }
      }
      &.right {
        float: right;
        li {
          float: left;
        }
      }
      li {
        list-style: none;
        text-transform: uppercase;
        &.logo {
          float: left;
          img {
            height: 150px;
            width: 150px;
          }
        }
        a {
          color: darken($primary, 30);
          &.router-link-exact-active {
            color: $secondary;
          }
        }
      }
    }
  }
}
